@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre&display=swap');

@import url('https://fonts.googleapis.com/css?family=Rokkitt&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background-color: #47D1ED;
  font-family: 'Rokkitt', serif;
}

.menu {
  margin-top:4vh;
  margin-left:8vh;
}

.menu li {
  float:left;
  padding-right: 30px;
  font-size: 1.2em;
  color: #C15018;
  list-style-type: none;
}

.menu li a {
  color: #C15018;
  text-decoration: none;
  font-size: 2em;
  color: #C15018;
  font-family: 'Rokkitt', serif;
  }

#title {
  margin-top: 5vh;
  margin-bottom: 2vh;
  color: #C15018;
  font-family: 'Frank Ruhl Libre', serif;
}

h1, p {
margin-top:5vh;
margin-bottom: 2vh;
text-align: center;
color: #C15018;
}

p{
  font-size: 1.5em;
}
.portfolio{
  width:50%;
}
.imgdes {
  color: #C15018;
  font-family: 'Frank Ruhl Libre', serif;
}

.description{
  width:70%;
}

.text {
  width: 70%;
}

footer{
border-top: 3px yellow dashed;
color: #C15018;
padding: 15px;
font-size: 1.5em;
text-align: center;
}

.navigation{
  width:100vw;
  padding: 60px 0;
  padding-bottom: 100px;
  margin:0 auto;
  background-color:#FFD083;

}

.previous{
  float: Center;
  text align: Center;
  vertical-align: middle;
}
.previous a{
  text-decoration: none;
  color: #0307fc
}
.next{
  float: Center;
  text-align: Center;
  vertical-align: middle;
}
.next a{
  text-decoration: none;
  color:#0307fc;

}
